body {
    background-color: rgb(131, 218, 131);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
    display: flex;
    width: 200px;
}

.nosotros {
    font-size: larger;
}


